AUTH_SECRET="REPLACE_ME_WITH_OPENSSL_RAND_BASE64_32"

# Microsoft Entra ID (Azure AD)
AUTH_MICROSOFT_ENTRA_ID_ID="REPLACE_ME"
AUTH_MICROSOFT_ENTRA_ID_SECRET="REPLACE_ME"
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID="REPLACE_ME"

# Azure Application Insights
NEXT_PUBLIC_APPINSIGHTS_CONNECTION_STRING="REPLACE_ME"
